@page "/events"
@using BlazorEventAppWebAssembly.Models
@using BlazorEventAppWebAssembly.Services
@using Microsoft.AspNetCore.Components.QuickGrid
@inject EventService EventService
@inject NavigationManager Navigation

<PageTitle>Events</PageTitle>

<h1>Upcoming Events</h1>

<button class="btn btn-primary" @onclick="NavigateToAddEvent">Add Event</button>

@if (events == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <QuickGrid Items="events.AsQueryable()" TGridItem="Event" >
        <PropertyColumn Property="@(e => e.Name)" Title="Name" Sortable="true"/>
        <PropertyColumn Property="@(e => e.Location)" Title="Location" Sortable="true"/>
        <PropertyColumn Property="@(e => e.StartDate.ToString("g"))" Title="Start Date" Sortable="true" />
        <PropertyColumn Property="@(e => e.EndDate.ToString("g"))" Title="End Date" Sortable="true" />
        <PropertyColumn Property="@(e => e.Description)" Title="Description" Sortable="true" />
        <PropertyColumn Property="@(e => e.EventType)" Title="Event Type" Sortable="true" />
        <TemplateColumn Title="Actions">
            <button class="btn btn-secondary" @onclick="() => NavigateToEditEvent(event.Id)">Edit</button>
            <button class="btn btn-danger" @onclick="() => ConfirmDeleteEvent(event.Id)">Delete</button>
        </TemplateColumn>
    </QuickGrid>
}

@code {
    private List<Event>? events;

    protected override async Task OnInitializedAsync()
    {
        events = await EventService.GetFutureEvents();
    }

    private void NavigateToAddEvent()
    {
        Navigation.NavigateTo("/add-event");
    }

    private void NavigateToEditEvent(int eventId)
    {
        Navigation.NavigateTo($"/edit-event/{eventId}");
    }

    private async Task ConfirmDeleteEvent(int eventId)
    {
        var confirmed = await JSRuntime.InvokeAsync<bool>("confirm", "Are you sure you want to delete this event?");
        if (confirmed)
        {
            await EventService.DeleteEvent(eventId);
            events = await EventService.GetFutureEvents();
        }
    }
}
